# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jovan\Desktop\IV godina\Drugi semestar\Bezbednost u sistemima elektronskog poslovanja\BSEP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
